.windows-map, .windows-list, .windows-report {
    position: absolute;
}

#desktop {
    box-sizing: content-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 5px;
    left: 5px;
}

#desktop .app {
    box-sizing: border-box;
    width: 65px;
    height: 78px;
    background: none;
    border: none;
    padding: 0;
}

#desktop .app:hover {
    cursor: pointer;
    background: #FFFFFF11;
    border: solid 1px #FFFFFF22;
}

#desktop .app img {
    width: 48px;
}

#desktop .app p {
    font-family: MS-sans-serif, MS, sans-serif;
    margin: 0;
}