body {
    margin: 0;
    padding: 0;
}

footer {
    position: absolute;
    bottom: 0;
    background: #C0C0C0;
    border-top: 3px solid white;
    width: 100%;
    height: 40px;
    display: flex;
    gap: 4px;
    align-items: center;
    z-index: 100;
    padding-left: 4px;
    padding-right: 4px;
    justify-content: space-between;
    box-sizing: border-box;
}

footer a, footer button {
    text-decoration: none;
    color: black;
    background: #BFB8BF;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: left;
    height: 32px;
    width: fit-content;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    padding: 0 4px;
    align-items: center;
    box-sizing: border-box;
}

footer a img, footer button img {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
footer a span, footer button span {
    display: inline-block;
    vertical-align: middle;
}

footer a:active, footer button:active {
    background-color: #E4DDE4;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
    border-top: solid 2px black;
    border-left: solid 2px black;
}

.taskbar-apps {
    display: flex;
    gap: 4px;
    height: 100%;
    align-items: center;
}

.taskbar-info {
    display: flex;
    gap: 4px;
    height: 100%;
    align-items: center;
}

#map { height: 274px; }

.taskbar-time {
    background: #C0C0C0;
    color: black;
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;

    border-bottom: solid 2px white;
    border-right: solid 2px lightgray;
    border-top: solid 2px #888888;
    border-left: solid 2px #888888;
}

.embossed-bar {
    height: 90%;
    width: 1px;
    border-left: solid 1px #777777;
    border-right: solid 1px white;
}

.extruding-bar {
    height: 70%;
    width: 2px;
    border-top: solid 2px lightgray;
    border-left: solid 2px white;
    border-bottom: solid 2px #888888;
    border-right: solid 2px #777777;
    border-radius: 2px;
}