.window, .window-active {
    background: #C0C0C0;
    border: 3px groove;

    width: 400px;
    height: 300px;
    padding: 1px;

    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;

    user-select: none;
}

.window {
    z-index: 1;
    position: relative;
}

.window-active {
    z-index: 10;
    position: relative;
}

.window-hidden {
    display: none;
}

.window-active .top-bar {
    background: #000080;
}

.top-bar {
    height: 18px;
    background: #7F787F;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 2px;
    padding-right: 2px;
}

.title {
    display: inherit;
    flex-direction: inherit;
    align-content: center;
    align-items: center;
    gap: 2px;
}

.window-buttons {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    gap: 3px;
}

.window-size-buttons {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    gap: 1px;
}

.window-button {
    display: flex;
    align-content: center;
    justify-content: center;

    padding: 0;
    height: 14px;
    width: 16px;
    border-width:1px;
    border-color:#FFFFFF #8F888F #8F888F #FFFFFF;
    filter: drop-shadow(1px 1px 0px #000000);

    border-radius: 0;
    background: #D9D9D9;


}

.window-button:hover {
    cursor: pointer;
}

.window-button:active {
    border-color: #8F888F #FFFFFF #FFFFFF #8F888F;
    filter: drop-shadow(-1px -1px 0px #000000);
    transform: translateX(1px) translateY(1px);
}

.window-button-icon {
    transform: translateX(-1px) translateY(1px);
    height: 9px;
    width: 9px;
}

h1 {
    font-size: 12px;
}

img {
    object-fit: contain;
}

.title > img {
    height: 14px;
}

.body {
    width: auto;
    flex-grow: 1;
    border-top: solid 2px #777777;
    border-left: solid 2px #777777;
    border-bottom: solid 2px lightgray;
    border-right: solid 2px lightgray;
}

.info {
    background: #C0C0C0;
    padding-left: 5px;
    width: auto;
    border-top: solid 1px #777777;
    border-left: solid 1px #777777;
    border-bottom: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

#map {
    width: inherit;
    height: 100%;
}